Methods #3 -- Interpolate

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('D:\Paper_Imputation\data\dataset_mitigasi_banjir_fix_banget.csv')

data.head()

<>:6: SyntaxWarning: invalid escape sequence '\P'
<>:6: SyntaxWarning: invalid escape sequence '\P'
C:\Users\UsHER\AppData\Local\Temp\ipykernel_10680\3408066250.py:6: SyntaxWarning: invalid escape sequence '\P'
  data = pd.read_csv('D:\Paper_Imputation\data\dataset_mitigasi_banjir_fix_banget.csv')

,Tanggal,curah_hujan_DK,curah_hujan_BS,debit_sungai_m3_per_detik,tinggi_muka_air_m
0,2015-01-01,33.0,1.0,130.50,5.63
1,2015-01-02,0.0,NaN,93.50,4.98
2,2015-01-03,0.0,20.5,79.12,4.69
3,2015-01-04,11.5,2.0,91.08,4.94
4,2015-01-05,2.0,NaN,76.00,4.61

In [2]:
df_interp = data.copy()

In [3]:
df_interp['Tanggal'] = pd.to_datetime(df_interp['Tanggal'], errors='coerce')
df_interp = df_interp.sort_values(by='Tanggal')
df_interp.set_index('Tanggal', inplace=True)

df_interp.head()

,curah_hujan_DK,curah_hujan_BS,debit_sungai_m3_per_detik,tinggi_muka_air_m
Tanggal,,,,
2015-01-01,33.0,1.0,130.50,5.63
2015-01-02,0.0,NaN,93.50,4.98
2015-01-03,0.0,20.5,79.12,4.69
2015-01-04,11.5,2.0,91.08,4.94
2015-01-05,2.0,NaN,76.00,4.61

In [ ]:
numeric_cols = ['curah_hujan_DK', 'curah_hujan_BS', 'debit_sungai_m3_per_detik', 'tinggi_muka_air_m']
df_interp[numeric_cols] = df_interp[numeric_cols].interpolate(method='time', limit_direction='forward')