Methods #3 -- Interpolate

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('D:\Paper_Imputation\data\dataset_mitigasi_banjir_fix_banget.csv')

data.head()

<>:6: SyntaxWarning: invalid escape sequence '\P'
<>:6: SyntaxWarning: invalid escape sequence '\P'
C:\Users\UsHER\AppData\Local\Temp\ipykernel_10680\3408066250.py:6: SyntaxWarning: invalid escape sequence '\P'
  data = pd.read_csv('D:\Paper_Imputation\data\dataset_mitigasi_banjir_fix_banget.csv')

,Tanggal,curah_hujan_DK,curah_hujan_BS,debit_sungai_m3_per_detik,tinggi_muka_air_m
0,2015-01-01,33.0,1.0,130.50,5.63
1,2015-01-02,0.0,NaN,93.50,4.98
2,2015-01-03,0.0,20.5,79.12,4.69
3,2015-01-04,11.5,2.0,91.08,4.94
4,2015-01-05,2.0,NaN,76.00,4.61

In [2]:
df_interp = data.copy()

In [3]:
df_interp['Tanggal'] = pd.to_datetime(df_interp['Tanggal'], errors='coerce')
df_interp = df_interp.sort_values(by='Tanggal')
df_interp.set_index('Tanggal', inplace=True)

df_interp.head()

,curah_hujan_DK,curah_hujan_BS,debit_sungai_m3_per_detik,tinggi_muka_air_m
Tanggal,,,,
2015-01-01,33.0,1.0,130.50,5.63
2015-01-02,0.0,NaN,93.50,4.98
2015-01-03,0.0,20.5,79.12,4.69
2015-01-04,11.5,2.0,91.08,4.94
2015-01-05,2.0,NaN,76.00,4.61

In [4]:
numeric_cols = ['curah_hujan_DK', 'curah_hujan_BS', 'debit_sungai_m3_per_detik', 'tinggi_muka_air_m']
df_interp[numeric_cols] = df_interp[numeric_cols].interpolate(method='time', limit_direction='forward')

print("Jumlah missing values setelah interpolasi:")
print(df_interp.isnull().sum())

Jumlah missing values setelah interpolasi:
curah_hujan_DK               0
curah_hujan_BS               0
debit_sungai_m3_per_detik    0
tinggi_muka_air_m            0
dtype: int64

In [5]:
df_interp.head(50)

,curah_hujan_DK,curah_hujan_BS,debit_sungai_m3_per_detik,tinggi_muka_air_m
Tanggal,,,,
2015-01-01,33.0,1.000000,130.50,5.63
2015-01-02,0.0,10.750000,93.50,4.98
2015-01-03,0.0,20.500000,79.12,4.69
2015-01-04,11.5,2.000000,91.08,4.94
2015-01-05,2.0,1.666667,76.00,4.61
2015-01-06,3.0,1.333333,55.80,4.14
2015-01-07,4.0,1.000000,57.57,4.19
2015-01-08,5.0,1.000000,43.34,3.80
2015-01-09,6.0,1.000000,37.55,3.64
2015-01-10,7.0,1.000000,33.85,3.52
2015-01-11,8.0,1.000000,35.62,3.58
2015-01-12,9.0,1.000000,28.79,3.35
2015-01-13,10.0,6.500000,31.90,3.45
2015-01-14,11.0,1.500000,40.71,3.73
2015-01-15,2.5,4.500000,42.29,3.77
2015-01-16,6.5,2.000000,39.06,3.67
2015-01-17,3.0,1.000000,34.69,3.54
2015-01-18,0.0,2.000000,33.56,3.50
2015-01-19,3.5,1.500000,33.88,3.51
2015-01-20,1.0,14.000000,36.98,3.61
2015-01-21,15.5,32.000000,84.49,4.80
2015-01-22,84.0,2.000000,105.05,5.16
2015-01-23,3.0,0.000000,73.38,4.54
2015-01-24,0.0,28.500000,74.38,4.57
2015-01-25,26.5,35.000000,101.97,5.11
2015-01-26,62.5,0.000000,102.91,5.10
2015-01-27,0.0,0.000000,64.47,4.33
2015-01-28,0.0,0.000000,59.96,4.22
2015-01-29,0.0,18.500000,78.85,4.65
2015-01-30,9.0,3.500000,91.09,4.89
2015-01-31,1.5,4.000000,91.97,4.92
2015-02-01,4.0,11.000000,97.53,5.04
2015-02-02,3.0,0.000000,95.10,4.97
2015-02-03,2.0,2.000000,73.64,4.53
2015-02-04,2.5,8.500000,83.54,4.75
2015-02-05,5.0,2.500000,100.03,5.08
2015-02-06,0.0,18.500000,116.01,5.34
2015-02-07,14.0,12.000000,147.09,5.87
2015-02-08,8.0,1.000000,152.71,5.95
2015-02-09,1.5,2.500000,116.86,5.37
2015-02-10,4.0,0.000000,111.57,5.27
2015-02-11,0.0,8.500000,118.10,5.38
2015-02-12,20.5,5.000000,145.51,5.83
2015-02-13,1.0,2.500000,131.17,5.60
2015-02-14,2.0,9.333333,95.84,4.97
2015-02-15,6.0,16.166667,77.02,4.59
2015-02-16,10.0,23.000000,75.16,4.56
2015-02-17,14.0,5.000000,84.20,4.74
2015-02-18,4.0,10.000000,104.20,5.14
2015-02-19,10.5,2.500000,139.22,5.74

In [6]:
df_interp["Banjir"] = df_interp.apply(
    lambda row: 1 if (row["tinggi_muka_air_m"] > 4.9 and 
                      row["curah_hujan_DK"] > 10 and 
                      row["curah_hujan_BS"] > 10 and 
                      row["debit_sungai_m3_per_detik"] > 100) else 0, axis=1)

df_interp.head(50)

,curah_hujan_DK,curah_hujan_BS,debit_sungai_m3_per_detik,tinggi_muka_air_m,Banjir
Tanggal,,,,,
2015-01-01,33.0,1.000000,130.50,5.63,0
2015-01-02,0.0,10.750000,93.50,4.98,0
2015-01-03,0.0,20.500000,79.12,4.69,0
2015-01-04,11.5,2.000000,91.08,4.94,0
2015-01-05,2.0,1.666667,76.00,4.61,0
2015-01-06,3.0,1.333333,55.80,4.14,0
2015-01-07,4.0,1.000000,57.57,4.19,0
2015-01-08,5.0,1.000000,43.34,3.80,0
2015-01-09,6.0,1.000000,37.55,3.64,0
2015-01-10,7.0,1.000000,33.85,3.52,0
2015-01-11,8.0,1.000000,35.62,3.58,0
2015-01-12,9.0,1.000000,28.79,3.35,0
2015-01-13,10.0,6.500000,31.90,3.45,0
2015-01-14,11.0,1.500000,40.71,3.73,0
2015-01-15,2.5,4.500000,42.29,3.77,0
2015-01-16,6.5,2.000000,39.06,3.67,0
2015-01-17,3.0,1.000000,34.69,3.54,0
2015-01-18,0.0,2.000000,33.56,3.50,0
2015-01-19,3.5,1.500000,33.88,3.51,0
2015-01-20,1.0,14.000000,36.98,3.61,0
2015-01-21,15.5,32.000000,84.49,4.80,0
2015-01-22,84.0,2.000000,105.05,5.16,0
2015-01-23,3.0,0.000000,73.38,4.54,0
2015-01-24,0.0,28.500000,74.38,4.57,0
2015-01-25,26.5,35.000000,101.97,5.11,1
2015-01-26,62.5,0.000000,102.91,5.10,0
2015-01-27,0.0,0.000000,64.47,4.33,0
2015-01-28,0.0,0.000000,59.96,4.22,0
2015-01-29,0.0,18.500000,78.85,4.65,0
2015-01-30,9.0,3.500000,91.09,4.89,0
2015-01-31,1.5,4.000000,91.97,4.92,0
2015-02-01,4.0,11.000000,97.53,5.04,0
2015-02-02,3.0,0.000000,95.10,4.97,0
2015-02-03,2.0,2.000000,73.64,4.53,0
2015-02-04,2.5,8.500000,83.54,4.75,0
2015-02-05,5.0,2.500000,100.03,5.08,0
2015-02-06,0.0,18.500000,116.01,5.34,0
2015-02-07,14.0,12.000000,147.09,5.87,1
2015-02-08,8.0,1.000000,152.71,5.95,0
2015-02-09,1.5,2.500000,116.86,5.37,0
2015-02-10,4.0,0.000000,111.57,5.27,0
2015-02-11,0.0,8.500000,118.10,5.38,0
2015-02-12,20.5,5.000000,145.51,5.83,0
2015-02-13,1.0,2.500000,131.17,5.60,0
2015-02-14,2.0,9.333333,95.84,4.97,0
2015-02-15,6.0,16.166667,77.02,4.59,0
2015-02-16,10.0,23.000000,75.16,4.56,0
2015-02-17,14.0,5.000000,84.20,4.74,0
2015-02-18,4.0,10.000000,104.20,5.14,0
2015-02-19,10.5,2.500000,139.22,5.74,0

In [7]:
df_banjir = df_interp[df_interp["Banjir"] == 1]

print(df_banjir)

            curah_hujan_DK  curah_hujan_BS  debit_sungai_m3_per_detik  \
Tanggal
2015-01-25            26.5           35.00                     101.97
2015-02-07            14.0           12.00                     147.09
2015-03-19            14.5           18.00                     109.64
2015-03-28            28.0           27.50                     107.40
2015-04-02            56.0           31.25                     156.26
...                    ...             ...                        ...
2022-12-05            27.5           23.50                     134.18
2022-12-07            30.0           21.00                     116.51
2022-12-08            14.0           21.00                     123.81
2022-12-12            53.5           35.00                     126.20
2022-12-18            20.0           23.00                     130.98

            tinggi_muka_air_m  Banjir
Tanggal
2015-01-25               5.11       1
2015-02-07               5.87       1
2015-03-19               5.20       1
2015-03-28               5.14       1
2015-04-02               5.97       1
...                       ...     ...
2022-12-05               4.99       1
2022-12-07               4.99       1
2022-12-08               4.99       1
2022-12-12               4.99       1
2022-12-18               4.99       1

[90 rows x 5 columns]

In [8]:
jumlah_banjir = df_interp["Banjir"].sum()

print(f"jumlah kejadian banjir = {jumlah_banjir}")

jumlah kejadian banjir = 90

In [9]:
hujan = len(df_interp)

print(f"total hujan = {hujan}")

total hujan = 3287

In [ ]:
tidak_banjir = (df_interp["Banjir"] == 0).sum()
print(f"Jumlah kejadian tidak banjir: {tidak_banjir}")

Jumlah kejadian tidak banjir: 3197

Model Training start from here